
<div class="container">
    <p *ngIf="!blogs"><em>Loading...</em></p>
    <div class="row"  style="padding-top: 10px;">
        <div class="col-md-3">
              <div class="form-group">
                <label for="">Tìm kiếm trong blog</label>
                <input type="text" class="form-control" name="" id="" aria-describedby="helpId" placeholder="search...">
              </div>
        </div>
        <div class="col-md-9">
            <div class="form-group" *ngFor="let blog of blogs">
                <div class="row">
                    <div class="col-md-4">
                        <img src="https://wiki.matbao.net/wp-content/uploads/2019/09/blog-la-gi-blogging-la-tu-dung-de-chi-ky-nang-viet-va-van-hanh-blog.jpg" class="img-thumbnail" width="304" height="236">
                    </div>
                    <div class="col-md-8">
                        <a [routerLink]="['/blog-detail']" target="_blank" style="font-weight: bold; font-size: large;"> <p>{{blog.title}}</p></a>
                       
                        <p style="color: '#666';">
                          {{blog.summary}}
                        </p>
                        <a [routerLink]="['/blog-detail']" target="_blank" style="font-size: small;"><i class="fa fa-play-circle-o"></i>&nbsp;&nbsp; <span>Xem thêm</span></a>
                    </div>
                </div>
                
                <hr>
              </div>
        </div>
    </div>
</div>
